html,body{
    background-color: #f5f5f5;
}

body {
    padding-top: 50px;
}

.container-fluid, .row{
    background-color: #f5f5f5;
}
.sidebar {
    padding: 12px;
    background-color: #f5f5f5;
}

form {
    padding-top: 12px;
}

#map-canvas {
    height:90%;
    position: absolute;
    right:0;
}

#legend {
        font-family: Arial, sans-serif;
        /* background: #fff; */
        padding: 1px;
        margin: 2px;
        /* border: 3px solid #000; */
      }

#legend h3 {
        margin-top: 0;
      }

#legend img {
        vertical-align: middle;
      }
